{% load static %}
{% load django_bootstrap5 %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Projeto Django{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% bootstrap_css %} 
   
    <!-- Carrega o CSS do Bootstrap -->
</head>
    {% block extrahead %}{% endblock extrahead %}
<body class="m-0" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    {% include "navbar.html" %}
     
  <div class="container">

        {% block content %}{% endblock %}
    </div>
    
    {% bootstrap_javascript %}
</body>
</html>