
.nav-link {
    color: #000000 !important;
    font-size: 100% !important;
    display: inline-block; /* Necessário para o transform funcionar corretamente */
}

.nav-link:hover {
    transform: scale(1.05); /* Aumenta em 10% */
    transition: transform 0.3s ease-in-out !important;
}

.navbar-brand {
    text-decoration: solid !important;

}


.navbar {
    background: linear-gradient(-45deg, #e49161, #66ee88, #6dc9eb, #9889f0);
    background-size: 300% 100% ;
    animation: gradient 10s ease-in-out infinite ;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
   
    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}
